.Banner {
  @apply w-full px-[5%] bg-black;
}

.Banner .Picture {
  background: url("/images/banner.png") repeat-x center center;
  @apply h-16;
  animation: scrollBackground 1000s linear infinite;
}

@keyframes scrollBackground {
  from {
    background-position: center center;
  }
  to {
    background-position: -10000% center;
  }
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .Banner .Picture {
    animation: scrollBackgroundMobile 1000s linear infinite;
  }

  @keyframes scrollBackgroundMobile {
    from {
      background-position: center center;
    }
    to {
      background-position: -100000% center;
    }
  }
}
