.Banner {
  @apply w-full px-[5%];
}
.Banner .Picture {
  background: url("/images/banner.png") repeat-x center center;
  @apply h-16;
  animation: scrollBackground 10s linear infinite;
}

@keyframes scrollBackground {
  from {
    background-position: 0 center;
  }
  to {
    background-position: -100% center;
  }
}
