.BuySection {
  @apply bg-white h-[700px] relative w-screen text-shadow-none text-black;
}

.BuySection .Content {
  @apply relative w-[320px] h-[550px] top-[125px] left-[50%] transform -translate-x-1/2;
  @apply 552:w-[520px] 552:translate-x-[-60%];
}

.BuySection .Title {
  @apply text-2xl leading-none top-[0] absolute w-full text-center;
  @apply 844:right-1/2 844:left-0 844:w-auto 844:text-4xl 844:top-[120px];
}

.BuySection .Content .BackpackSoldier {
  background: url("/images/backpack.png") no-repeat;
  background-size: contain;
  @apply h-[280px] left-[50px] bottom-[70px] w-[480px] absolute hidden;
  @apply 844:block;
}

.BuySection .Bulletin {
  background: url("/images/bulletin.png") no-repeat;
  background-size: contain;
  @apply absolute w-[300px] h-[480px] top-[35px] left-[50%] transform -translate-x-1/2;
  @apply 844:absolute 844:w-[400px] 844:h-[480px] 844:top-[0px] 844:left-[50%] 844:translate-x-0;
}

.Bulletin .Text {
  @apply w-[215px] mt-[29px] text-[9px] mx-auto transform -rotate-[2.8deg];
  @apply 844:w-[230px] 844:ml-[50px] 844:mr-[0px] 844:text-[11px];
}

.BuySection .Bulletin .Section {
  @apply mt-4;
}

.BuySection .CopyBtn {
  @apply border-black hover:brightness-150 cursor-pointer border-2 bg-primary text-white absolute rounded-full bottom-[0px] px-3 py-1 text-[30px] text-nowrap left-1/2 transform -rotate-[2.8deg] -translate-x-1/2;
}
