.LandingSection {
  height: 100vh;
  width: 100vw;
  background: url("/images/burning-building-1.png") no-repeat center center;
  background-size: cover;
  overflow-x: hidden;
}

.LandingSection .Tank {
  background: url("/images/tank.png") no-repeat center center;
  background-size: auto 100%;
  @apply absolute bottom-0 left-0 w-full;
  @apply md:top-52 xs:top-44 top-40;
}

.LandingSection .Soldier {
  background: url("/images/soldier.png") no-repeat center center;
  background-size: auto 100%;
  @apply absolute bottom-0 right-0 w-full;
  @apply md:top-60 xs:top-52 top-48;
}

.LandingSection .Title {
  @apply text-[150px] text-center w-full absolute md:top-32 leading-none;
  @apply md:text-[150px] xs:text-[100px] text-[69px];
  @apply md:text-shadow-lg xs:text-shadow-md text-shadow-sm;
  @apply top-32;
}

.LandingSection .OpenGameButton {
  @apply rounded-full absolute leading-none text-black bottom-8 text-shadow-none hover:bg-background;
  @apply py-3 px-8;
  @apply border-black border-4;
  @apply bg-white hover:bg-background cursor-pointer;
  @apply right-1/2 transform translate-x-1/2 lg:right-[20%];
  @apply text-[16px] lg:text-[50px];
}
