.RoadMapSection {
  background: url("/images/roadmap/building.jpg") no-repeat center center/cover;
  @apply h-[700px] relative;
}

.RoadMapSection .Container {
  @apply relative w-[320px] bg-red-100 top-[20px] h-[660px] left-[50%] transform translate-x-[-50%];
  @apply 424:w-[400px];
  @apply 552:w-[500px];
}

.RoadMapSection .Container .Title {
  @apply text-4xl w-full text-center;
}

.RoadMapSection .Container .Soldier {
  background: url("/images/roadmap/soldier.jpg") no-repeat center center/cover;
  @apply size-[100px] absolute top-[70px] left-[10px] transform rotate-[9.39deg];
}

.RoadMapSection .Container .Tnt {
  background: url("/images/roadmap/tnt.jpg") no-repeat center center/cover;
  @apply size-[100px] absolute top-[210px] right-[10px] transform rotate-[-9.21deg];
}

.RoadMapSection .Container .Jetpack {
  background: url("/images/roadmap/jetpack.jpg") no-repeat center center/cover;
  @apply size-[100px] absolute top-[350px] left-[10px] transform rotate-[9.09deg];
}

.RoadMapSection .Container .Wallstreet {
  background: url("/images/roadmap/wallstreet.jpg") no-repeat center
    center/cover;
  @apply size-[100px] absolute top-[490px] right-[10px] transform rotate-[-8.37deg];
}
